@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
body {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Noto Sans HK
}

#left-side {
    display: flex;
}

#right-side {
    display: flex;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

#hero {
    height: 400px;
    overflow-y: hidden;
}

#hero-image {
    width: 100%;
}

.intro {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.intro h1 {
    font-family: Noto Sans HK;
}

#my-stack {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.logo {
    width: 100px;
}

#my-stack div {
    width: 33%;
    display: flex;
    justify-content: center;
    font-family: Noto Sans HK;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#image-container {
    width: 100%;
    display: flex;
}

.probs {
    width: 50%;
    padding: 5px;
}

.probs img {
    width: 100%;
}

#images2 {
    width: 100%;
}

#images2 img {
    width: 100%;
}

a {
    text-decoration: none;
}